*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.glass-contact{
    height: 300px;
    width: 100%;
    border-radius: 2em;
    position: relative;

}
.main-page-header{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-box{
    height: 300px;
    border-radius: 2em;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    background: rgb(207,189,255);
    background: linear-gradient(0deg, rgba(207,189,255,0.6643032212885154) 0%, rgba(184,183,255,0.3085609243697479) 100%);
    right: -20px;
    top: 15px;
    opacity: 0;
    transition: .75s;
    transform: scaleX(0);
}
.social-medias{
    width: 100%;
    height: 32px;
    display: flex;
    justify-content: space-evenly;
}
.social-medias a{
    transition: .75s;
    border-radius: 1.1em;
    width: 40px;
    padding: 3px;
    text-align: center;
    text-decoration:none;
    font-size: 1.7em;
    color: rgb(80,26,116);
    text-decoration: none;
    transition: .75s;
}
.social-medias a:hover{
    width: 75px;
    color: white;
    background: rgb(80,26,116);
}
.contact-me a{
    color: rgb(80,26,116);
    text-decoration: none;
    font-size: 1.7em;
    transition: .75s;
    border-radius: 2em;
    width: 50px;
    padding: 3px;
    text-align:center;
}
.glass-contact:hover{
    box-shadow: 1px 1px 1em rgba(90,0,149, .2);
}
.glass-contact:hover .content-box{
    opacity: 1;
    transform: scaleX(1);
}
.contact-me a:hover{
    width: 100px;
    color: white;
    background: rgb(80,26,116);
}
.h3{
    opacity: 0;
    animation: anims .6s forwards;
}
/*h3 transition*/
@keyframes anims{
    from{
        opacity: 0;
        transform: scale(.8);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}
